<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.posystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".NewProvider"
            android:label="Nuevo proveedor"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ManageProvider"
            android:label="Gestionar proveedores"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MonthlyReport"
            android:label="Reportes por mes"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DailyReport"
            android:label="Reportes diarios"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PayAccount"
            android:label="Cuenta final"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddInventory"
            android:label="Consultar y agregar inventario"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditProduct"
            android:label="Editar inventario"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewProduct"
            android:label="Agregar producto"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddProduct"
            android:label="Agregar articulos"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AppSettings"
            android:label="Ajustes"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>